@model IEnumerable<PlattProject.ViewModels.ItemRestockVm>

<h3>Items That Need To Be Restocked</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Warehouse Address
            </th>
            <th>
                Item Needed
            </th>
            <th>
                Stock Left
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemStock.ItemCount)
            </td>
        </tr>
}
    </tbody>
</table>
