@model IEnumerable<PlattProject.ViewModels.LargestOrderVm>

<h3>Largest Orders</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Item
            </th>
                <th>
                    Number Purchased
                </th>
                <th>
                    Purchase Date
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase.NumberPurchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase.PurchaseDate)
            </td>
        </tr>
}
    </tbody>
</table>
