

    <h2>Read Me</h2>

    <p>Hello Hiring Manager,</p>
    <p>Before my interview, I decided to get familiar with .NET Core by doing a small project. It is a mock inventory management system. This was meant to demonstrate 2 things. Firstly, I wanted to show that I am willing to put in the work to learn new technologies. This is by no means high level database design but I had never used .NET Core before (older versions of .NET only) so I had to do some research.</p>
    <p>Secondly, I remember Steve had mentioned that this role might involve executing raw SQL statements as opposed to using Entity Framework. This was something I was not experienced with, so I made sure to include some raw SQL in this project.</p>
    <p>'Populate Database' will create dummy data that includes some catalogue items, users, and warehouses, along with a randomly generated purchase history.</p>
<div class="text-center">

    <a asp-action="PopulateAllTables">Populate Database</a>
    <p>  |  </p>
    <a asp-action="ClearAllTables">Clear Database</a>
</div>



